.mat-dialog-content {
    overflow: hidden;
    height: 200px;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 24px;
}

h4 {
    font-weight: 500;
}

img {
    //width: 300px;
    float: right;
    margin-left: 16px;
}