:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.content-container {
    padding: 16px;
    flex-grow: 1;
}

mat-card-content {
    margin-left: -16px;
    margin-right: -16px;
}

.golden-ratio-large {
    margin-right: 16px;
}

mat-progress-bar {
    position: absolute;
}

mat-nav-list {
    width: 250px;

    mat-icon {
        padding-right: 12px;
    }
}

.active-link {
    color: red;
}