<!-- <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar> -->

<mat-nav-list class="mat-elevation-z1">
    <a mat-list-item matLine routerLink="./list" routerLinkActive="active-link">
        Categorise
    </a>
    <a mat-list-item matLine routerLink="./categories" routerLinkActive="active-link">
        Manage Categories
    </a>
    <a mat-list-item matLine routerLink="./upload" routerLinkActive="active-link">
        Upload Transactions
    </a>
</mat-nav-list>

<router-outlet></router-outlet>