:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

mat-progress-bar {
    position: absolute;
    // TODO
    display: none;
}

mat-nav-list {
    width: 250px;

    mat-icon {
        padding-right: 12px;
    }
}

.active-link {
    font-weight: 500;
    background: rgba(0, 0, 0, 0.04); // TODO - Use theming
}