.content-container {
    padding: 16px;
}

mat-card-content {
    margin-left: -16px;
    margin-right: -16px;
}

.golden-ratio-large {
    margin-right: 16px;
}

mat-progress-bar {
    position: absolute;
}