<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="content-container">
    <ng-container>
        <div class="golden-ratio-container">
            <div class="golden-ratio-large">
                <mat-card>
                    <mat-card-title class="flex">
                        <h2>Transactions</h2>
                        <div class="flex-spacer"></div>
                    </mat-card-title>

                    <mat-divider></mat-divider>

                    <mat-card-content>
                        <aug-transactions-table
                            *ngIf="(transactionRows$ | async) as transactions; else loading"
                            [transactions]="transactions"
                            (transactionSelectionChange)="onTransactionSelectionChange($event)">
                        </aug-transactions-table>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="golden-ratio-small">
                <mat-card>
                    <mat-card-title>
                        <h2>Transactions</h2>
                    </mat-card-title>

                    <mat-divider></mat-divider>

                    <mat-card-content>
                        <ng-container *ngIf="(transactionCategories$ | async) as transactionCategories; else loading">
                            <aug-transactions-categorisation-form
                                *ngIf="selectedTransactions.length; else noTransactionsSelected"
                                [transactions]="selectedTransactions"
                                [categories]="transactionCategories"
                                [categoriseEnabled]="!isLoading"
                                (categorise)="onCategorise($event)">
                            </aug-transactions-categorisation-form>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noTransactionsSelected>
    <p class="aug-mat-card-placeholder">Select transactions to categorise</p>
</ng-template>

<ng-template #loading>
    <aug-card-loading-spinner></aug-card-loading-spinner>
</ng-template>

