<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="content-container">
    <mat-card>
        <mat-card-title>
            <h2>Transactions</h2>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content>
            <app-transactions-search-form
                [selectedType]="selectedType"
                [selectedYear]="selectedYear"
                [resultsSummary]="searchResultSummary$ | async"
                [years]="years$ | async"
                (textSearch)="onTextSearch($event)"
                (typeChange)="onTransactionTypeChange($event)"
                (yearChange)="onYearChange($event)">
            </app-transactions-search-form>

            <mat-divider></mat-divider>

            <app-transactions-table
                *ngIf="(transactionRows$ | async) as transactions"
                [transactions]="transactions"
                [pagination]="pagination$ | async"
                (transactionSelectionChange)="onTransactionSelectionChange($event)"
                (paginationChange)="onPaginationChange($event)"
                (dateSortChange)="onDateSortChange($event)">
            </app-transactions-table>

            <div *ngIf="isLoading" class="app-mat-overlay">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </mat-card-content>

        <!-- <div *ngIf="!transactionsFirstLoad && transactionsLoading" class="app-mat-overlay">
            <mat-spinner [diameter]="30"></mat-spinner>
        </div> -->
    </mat-card>

    <mat-card>
        <mat-card-title>
            <h2>Categorise Transactions</h2>
        </mat-card-title>

        <mat-divider></mat-divider>

        <mat-card-content>
            <ng-container *ngIf="(transactionCategories$ | async) as transactionCategories">
                <app-transactions-categorisation-form
                    *ngIf="selectedTransactions.length"
                    [transactions]="selectedTransactions"
                    [categories]="transactionCategories"
                    [categoriseEnabled]="!isLoading"
                    (categorise)="onCategorise($event)">
                </app-transactions-categorisation-form>

                <p *ngIf="!isLoading && selectedTransactions.length === 0" class="app-mat-card-placeholder">Select transactions to categorise</p>
            </ng-container>

            <div *ngIf="isLoading" class="app-mat-overlay">
                <mat-spinner [diameter]="30"></mat-spinner>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loading>
    <app-card-loading-spinner></app-card-loading-spinner>
</ng-template>

