<!-- <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar> -->

<mat-nav-list class="mat-elevation-z1">
    <a mat-list-item matLine routerLink="./list" routerLinkActive="active-link">
        Categorise
    </a>
    <a mat-list-item matLine routerLink="./categories" routerLinkActive="active-link">
        Manage Categories
    </a>
    <a mat-list-item matLine routerLink="./upload" routerLinkActive="active-link">
        Upload Transactions
    </a>
</mat-nav-list>

<router-outlet></router-outlet>

<!-- <div class="content-container">
    <ng-container *ngIf="(transactionRows$ | async) as transactions">
        <div class="golden-ratio-container">
            <div class="golden-ratio-large">
                <mat-card>
                    <mat-card-title>
                        <h2>Transactions</h2>
                    </mat-card-title>

                    <mat-divider></mat-divider>

                    <mat-card-content>
                        <aug-transactions-table
                            [transactions]="transactions"
                            (transactionSelectionChange)="onTransactionSelectionChange($event)">
                        </aug-transactions-table>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="golden-ratio-small">
                <mat-card>
                    <mat-card-title>
                        <h2>Transactions</h2>
                    </mat-card-title>

                    <mat-divider></mat-divider>

                    <mat-card-content>
                        <aug-transactions-categorisation-form
                            *ngIf="selectedTransactions.length; else noTransactionsSelected"
                            [transactions]="selectedTransactions"
                            [categories]="transactionCategories$ | async"
                            (categorise)="onCategorise($event)">
                        </aug-transactions-categorisation-form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noTransactionsSelected>
    <p class="aug-mat-card-placeholder">Select transactions to categorise</p>
</ng-template> -->

