.mat-column-selected {
    width: 96px;
}

mat-paginator {
    margin-bottom: -12px;
}

.mat-column-creditAmount,
.mat-column-debitAmount {
    width: 150px;
    text-align: right;
}

.aug-original-description {
    font-size: 10px;
    line-height: 10px;
    color: rgba(0,0,0,0.5);
}