.mat-column-selected {
    width: 96px;
}

mat-paginator {
    margin-bottom: -12px;
}

.mat-column-creditAmount,
.mat-column-debitAmount {
    width: 150px;
    text-align: right;
}

.app-original-description {
    font-size: 10px;
    line-height: 10px;
    color: rgba(0,0,0,0.5);
}

.app-categorised-row {
    // TODO Use themes
    //background-color: rgba(139, 204, 47, 0.05);

    td {
        &.mat-column-description {
            color: #3f8528;
            font-weight: 500;
        }
    }
}

.app-uncategorised-row {
    // TODO Use themes
    background-color: rgba(192, 57, 43, 0.05);

    td {
        &.mat-column-description {
            color: #c0392b;
            font-weight: 500;
        }
    }
}